<div class="row">
  <div class="col-6">
    <h5>Select all text from textbox</h5>
    <hr />
    <form novalidate>
      <fieldset>
        <legend>SignUp</legend>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" value="cse_shohel@yahoo.com"
            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" select-all>
        </div>
      </fieldset>
    </form>
  </div>
</div>