<div class="row">
  <div class="col-md-6">
      <h5>Phone Number Format</h5>
      <hr/>
    <form novalidate>
      <fieldset>
        <!-- <legend>SignUp</legend> -->
        <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" appPhoneNumberFormat="bd" name="number"/>
          </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Output 
          </h5>
          <hr>
         
        </div>
      </div>
  </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Description</h5>
          <hr>
          
        </div>
      </div>
    </div>
  </div>
