<div class="row">
  <div class="col-6">
    <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm.value)">
      <fieldset>
        <legend>SignUp</legend>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" ngModel #email="ngModel" required>
          <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Email is required</div>
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" ngModel #password="ngModel"
            required>
          <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Password is required</div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Password" name="confirmPassword" ngModel #confirmPassword="ngModel"
            required>
          <div class="alert alert-danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">Confirm Password is required</div>
        </div>

        <div class="form-group">
          <label for="select">Gender</label>
          <select id="select" class="form-control" name="gender" ngModel #gender="ngModel" required>
            <option></option>
            <option *ngFor="let g of genderList" [value]="g">{{g}}</option>
          </select>
          <div class="alert alert-danger" [hidden]="gender.valid ||gender.pristine">Gender is required</div>
        </div>

        <div class="form-group checkbox">
          <label>
            <input type="checkbox"> Confirm that you've read the Terms and Conditions
          </label>
        </div>

        <div class="form-group">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>