<div class="row">
  <div class="col-md-6">
    <h5>Learn Angular</h5>
    <hr />
    <form novalidate>
      <fieldset>
        <ol>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/angular">
              What is Angular
            </a>
          </li>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/Installation">
              Installation
            </a>
          </li>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/First-Angular-Application">
              First Angular Application
            </a>
          </li>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/Basic-Architecture">
              Basic Architecture
            </a>
          </li>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/Features-of-Angular">
              Features of Angular
            </a>
          </li>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/Angular-Lifecycle-Hook">
              Angular Lifecycle Hook
            </a>
          </li>
          <li>
            <a href="https://github.com/mdshohelrana/examples-of-angular/wiki/Binding">
              Binding
            </a>
          </li>
        </ol>
      </fieldset>
    </form>
  </div>
</div>