<div class="row">
  <div class="col-md-6">
      <h5>Weather App</h5>
     <app-weather-list></app-weather-list>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Output</h5>
          <hr>

        </div>
      </div>
  </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Description</h5>
          <hr>

        </div>
      </div>
    </div>
  </div>
