<div class="row">
  <div class="col-6">
      <h5>Simple form</h5>
      <hr/>      
      <form novalidate sf-validation-option="employeeOptions">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nameField">Name</label>
            <input type="text" class="form-control" sf-validate [(ngModel)]="employee.name" id="nameField" name="nameField" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" sf-validate [(ngModel)]="employee.email" id="emailField" name="emailField" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="passwordField">Password</label>
            <input type="password" class="form-control" sf-validate [(ngModel)]="employee.password" id="passwordField" name="passwordField" placeholder="Password">
          </div>
          <div class="form-group col-md-6">
            <label for="urlField">Url</label>
            <input type="url" class="form-control" sf-validate [(ngModel)]="employee.url" id="urlField" name="urlField" placeholder="Url">
          </div>
          <div class="form-group col-md-6">
            <label for="telField">Tel</label>
            <input type="tel" class="form-control" sf-validate [(ngModel)]="employee.tel" id="telField" name="telField" placeholder="Tel">
          </div>
          <div class="form-group col-md-6">
            <label for="dateField">Date</label>
            <input type="date" class="form-control" sf-validate [(ngModel)]="employee.date" id="dateField" name="dateField" placeholder="Date">
          </div>
          <div class="form-group col-md-6">
            <label for="timeField">Time</label>
            <input type="time" class="form-control" sf-validate [(ngModel)]="employee.time" id="timeField" name="timeField" placeholder="Time">
          </div>
          <div class="form-group col-md-6">
            <label for="dateTimeField">Date Time</label>
            <input type="datetime-local" class="form-control" sf-validate [(ngModel)]="employee.dateTime" id="dateTimeField" name="dateTimeField" placeholder="Date Time">
          </div>
          <div class="form-group col-md-6">
            <label for="selectField">Gender</label>
            <select class="form-control" name="selectField" sf-validate [(ngModel)]="employee.gender" id="selectField">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label for="addressField">Address</label>
            <textarea class="form-control"  name="addressField" sf-validate [(ngModel)]="employee.address" id="addressField" rows="2"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
  </div>
</div>