<div class="row">
  <div class="col-6">
      <h5>Simple form</h5>
      <hr/>      
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nameField">Name</label>
            <input type="text" class="form-control" id="nameField" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="passwordField">Password</label>
            <input type="password" class="form-control" id="passwordField" placeholder="Password">
          </div>
          <div class="form-group col-md-6">
            <label for="urlField">Url</label>
            <input type="url" class="form-control" id="urlField" placeholder="Url">
          </div>
          <div class="form-group col-md-6">
            <label for="telField">Tel</label>
            <input type="tel" class="form-control" id="telField" placeholder="Tel">
          </div>
          <div class="form-group col-md-6">
            <label for="dateField">Date</label>
            <input type="date" class="form-control" id="dateField" placeholder="Date">
          </div>
          <div class="form-group col-md-6">
            <label for="timeField">Time</label>
            <input type="time" class="form-control" id="timeField" placeholder="Time">
          </div>
          <div class="form-group col-md-6">
            <label for="dateTimeField">Date Time</label>
            <input type="datetime-local" class="form-control" id="dateTimeField" placeholder="Date Time">
          </div>
          <div class="form-group col-md-6">
            <label for="selectField">Gender</label>
            <select class="form-control" name="selectField" id="selectField">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label for="addressField">Address</label>
            <textarea class="form-control"  name="addressField" id="addressField" rows="2"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
  </div>
</div>