<div class="row">
  <div class="col-md-12">
      <h5>Master Child Form</h5>
      <hr/>
    <form novalidate sf-validation-option="customerOptions">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="customer-name">Customer Name</label>
            <input id="customer-name" name="customer-name" sf-validate="name" [(ngModel)]="customerName" type="text" class="form-control" value="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="customer-mobile-number">Mobile Number</label>
            <input id="customer-mobile-number" name="customer-mobile-number" sf-validate="mobileNumber" [(ngModel)]="customerMobileNumber" type="text" class="form-control" value="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="customer-address">Address</label>
            <input id="customer-address" name="customer-address" sf-validate="address" [(ngModel)]="customerAddress" type="text" class="form-control" value="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="customer-country">Country</label>
            <select id="customer-country" name="customer-country" sf-validate="country" [(ngModel)]="customerCountry" class="form-control">
              <option value="1">Afghanistan</option>
              <option value="2">Albania</option>
              <option value="3">Algeria</option>
              <option value="4">Andorra</option>
              <option value="5">Angola</option>
              <option value="6">Antigua and Barbuda</option>
              <option value="7">Argentina</option>
              <option value="8">Armenia</option>
              <option value="9">Australia</option>
              <option value="10">Austria</option>
              <option value="11">Azerbaijan</option>
              <option value="12">The Bahamas</option>
              <option value="13">Bahrain</option>
              <option value="14">Bangladesh</option>
              <option value="15">Barbados</option>
              <option value="16">Belarus</option>
              <option value="17">Belgium</option>
              <option value="18">Belize</option>
              <option value="19">Benin</option>
              <option value="20">Bhutan</option>
              <option value="21">Bolivia</option>
              <option value="22">Bosnia and Herzegovina</option>
              <option value="23">Botswana</option>
              <option value="24">Brazil</option>
              <option value="25">Brunei</option>
              <option value="26">Bulgaria</option>
              <option value="27">Burkina Faso</option>
              <option value="28">Burundi</option>
              <option value="29">Cabo Verde</option>
              <option value="30">Cambodia</option>
              <option value="31">Cameroon</option>
              <option value="32">Canada</option>
              <option value="33">Central African Republic</option>
              <option value="34">Chad</option>
              <option value="35">Chile</option>
              <option value="36">China</option>
              <option value="37">Colombia</option>
              <option value="38">Comoros</option>
              <option value="39">Congo, Democratic Republic of the</option>
              <option value="40">Congo, Republic of the</option>
              <option value="41">Costa Rica</option>
              <option value="42">Côte d’Ivoire</option>
              <option value="43">Croatia</option>
              <option value="44">Cuba</option>
              <option value="45">Cyprus</option>
              <option value="46">Czech Republic</option>
              <option value="47">Denmark</option>
              <option value="48">Djibouti</option>
              <option value="49">Dominica</option>
              <option value="50">Dominican Republic</option>
              <option value="51">East Timor (Timor-Leste)</option>
              <option value="52">Ecuador</option>
              <option value="53">Egypt</option>
              <option value="54">El Salvador</option>
              <option value="55">Equatorial Guinea</option>
              <option value="56">Eritrea</option>
              <option value="57">Estonia</option>
              <option value="58">Eswatini</option>
              <option value="59">Ethiopia</option>
              <option value="60">Fiji</option>
              <option value="61">Finland</option>
              <option value="62">France</option>
              <option value="63">Gabon</option>
              <option value="64">The Gambia</option>
              <option value="65">Georgia</option>
              <option value="66">Germany</option>
              <option value="67">Ghana</option>
              <option value="68">Greece</option>
              <option value="69">Grenada</option>
              <option value="70">Guatemala</option>
              <option value="71">Guinea</option>
              <option value="72">Guinea-Bissau</option>
              <option value="73">Guyana</option>
              <option value="74">Haiti</option>
              <option value="75">Honduras</option>
              <option value="76">Hungary</option>
              <option value="77">Iceland</option>
              <option value="78">India</option>
              <option value="79">Indonesia</option>
              <option value="80">Iran</option>
              <option value="81">Iraq</option>
              <option value="82">Ireland</option>
              <option value="83">Israel</option>
              <option value="84">Italy</option>
              <option value="85">Jamaica</option>
              <option value="86">Japan</option>
              <option value="87">Jordan</option>
              <option value="88">Kazakhstan</option>
              <option value="89">Kenya</option>
              <option value="90">Kiribati</option>
              <option value="91">Korea, North</option>
              <option value="92">Korea, South</option>
              <option value="93">Kosovo</option>
              <option value="94">Kuwait</option>
              <option value="95">Kyrgyzstan</option>
              <option value="96">Laos</option>
              <option value="97">Latvia</option>
              <option value="98">Lebanon</option>
              <option value="99">Lesotho</option>
              <option value="100">Liberia</option>
              <option value="101">Libya</option>
              <option value="102">Liechtenstein</option>
              <option value="103">Lithuania</option>
              <option value="104">Luxembourg</option>
              <option value="105">Madagascar</option>
              <option value="106">Malawi</option>
              <option value="107">Malaysia</option>
              <option value="108">Maldives</option>
              <option value="109">Mali</option>
              <option value="110">Malta</option>
              <option value="111">Marshall Islands</option>
              <option value="112">Mauritania</option>
              <option value="113">Mauritius</option>
              <option value="114">Mexico</option>
              <option value="115">Micronesia, Federated States of</option>
              <option value="116">Moldova</option>
              <option value="117">Monaco</option>
              <option value="118">Mongolia</option>
              <option value="119">Montenegro</option>
              <option value="120">Morocco</option>
              <option value="121">Mozambique</option>
              <option value="122">Myanmar (Burma)</option>
              <option value="123">Namibia</option>
              <option value="124">Nauru</option>
              <option value="125">Nepal</option>
              <option value="126">Netherlands</option>
              <option value="127">New Zealand</option>
              <option value="128">Nicaragua</option>
              <option value="129">Niger</option>
              <option value="130">Nigeria</option>
              <option value="131">North Macedonia</option>
              <option value="132">Norway</option>
              <option value="133">Oman</option>
              <option value="134">Pakistan</option>
              <option value="135">Palau</option>
              <option value="136">Panama</option>
              <option value="137">Papua New Guinea</option>
              <option value="138">Paraguay</option>
              <option value="139">Peru</option>
              <option value="140">Philippines</option>
              <option value="141">Poland</option>
              <option value="142">Portugal</option>
              <option value="143">Qatar</option>
              <option value="144">Romania</option>
              <option value="145">Russia</option>
              <option value="146">Rwanda</option>
              <option value="147">Saint Kitts and Nevis</option>
              <option value="148">Saint Lucia</option>
              <option value="149">Saint Vincent and the Grenadines</option>
              <option value="150">Samoa</option>
              <option value="151">San Marino</option>
              <option value="152">Sao Tome and Principe</option>
              <option value="153">Saudi Arabia</option>
              <option value="154">Senegal</option>
              <option value="155">Serbia</option>
              <option value="156">Seychelles</option>
              <option value="157">Sierra Leone</option>
              <option value="158">Singapore</option>
              <option value="159">Slovakia</option>
              <option value="160">Slovenia</option>
              <option value="161">Solomon Islands</option>
              <option value="162">Somalia</option>
              <option value="163">South Africa</option>
              <option value="164">Spain</option>
              <option value="165">Sri Lanka</option>
              <option value="166">Sudan</option>
              <option value="167">Sudan, South</option>
              <option value="168">Suriname</option>
              <option value="169">Sweden</option>
              <option value="170">Switzerland</option>
              <option value="171">Syria</option>
              <option value="172">Taiwan</option>
              <option value="173">Tajikistan</option>
              <option value="174">Tanzania</option>
              <option value="175">Thailand</option>
              <option value="176">Togo</option>
              <option value="177">Tonga</option>
              <option value="178">Trinidad and Tobago</option>
              <option value="179">Tunisia</option>
              <option value="180">Turkey</option>
              <option value="181">Turkmenistan</option>
              <option value="182">Tuvalu</option>
              <option value="183">Uganda</option>
              <option value="184">Ukraine</option>
              <option value="185">United Arab Emirates</option>
              <option value="186">United Kingdom</option>
              <option value="187">United States</option>
              <option value="188">Uruguay</option>
              <option value="189">Uzbekistan</option>
              <option value="190">Vanuatu</option>
              <option value="191">Vatican City</option>
              <option value="192">Venezuela</option>
              <option value="193">Vietnam</option>
              <option value="194">Yemen</option>
              <option value="195">Zambia</option>
              <option value="196">Zimbabwe</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <fieldset>
        <div class="form-group">
          <label for="inputEmail">Emp</label>
          <input type="text" class="form-control">
        </div>
      </fieldset> -->
      <!-- <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Sl</th>
              <th>Customer Name</th>
              <th>Age</th>
              <th>Mobile</th>
              <th>Salary</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-0 text-center">1</td>
              <td class="p-0"><input type="text" class="form-control" value="Imon"></td>
              <td class="p-0"><input type="text"  class="text-right form-control" value="23"></td>
              <td class="p-0"><input type="text" class="form-control" value="019387389"></td>
              <td class="p-0"><input type="text" class="text-right form-control" value="3000.00"></td>
              <td class="text-center p-0"><button type="button" class="btn btn-primary btn-sm">Details</button></td>
            </tr>
            <tr>
              <td class="p-0 text-center">2</td>
              <td class="p-0"><input type="text" class="form-control" value="Imon"></td>
              <td class="p-0"><input type="text"  class="text-right form-control" value="23"></td>
              <td class="p-0"><input type="text" class="form-control" value="019387389"></td>
              <td class="p-0"><input type="text" class="text-right form-control" value="3000.00"></td>
              <td class="text-center p-0"><button type="button" class="btn btn-primary btn-sm">Details</button></td>
            </tr>
            <tr>
              <td class="p-0 text-center">3</td>
              <td class="p-0"><input type="text" class="form-control" value="Imon"></td>
              <td class="p-0"><input type="text"  class="text-right form-control" value="23"></td>
              <td class="p-0"><input type="text" class="form-control" value="019387389"></td>
              <td class="p-0"><input type="text" class="text-right form-control" value="3000.00"></td>
              <td class="text-center p-0"><button type="button" class="btn btn-primary btn-sm">Details</button></td>
            </tr>
            <tr>
              <td class="p-0 text-center">4</td>
              <td class="p-0"><input type="text" class="form-control" value="Imon"></td>
              <td class="p-0"><input type="text"  class="text-right form-control" value="23"></td>
              <td class="p-0"><input type="text" class="form-control" value="019387389"></td>
              <td class="p-0"><input type="text" class="text-right form-control" value="3000.00"></td>
              <td class="text-center p-0"><button type="button" class="btn btn-primary btn-sm">Details</button></td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="table-responsive">
        <div class="d-flex align-items-center">
          <h4>Product Entry</h4>
          <div class="ml-1">
              <button type="button" class="btn btn-primary btn-sm" group="productGroup" (sf-click)="addProduct($event)">Add New</button>
          </div>
        </div>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Sl</th>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Product Quantity</th>
              <th>Total</th>
              <th>Remove </th>
            </tr>
          </thead>
          <tbody ngModelGroup="productGroup">
              <ng-container *ngFor="let product of productList; let i=index; let isLast=last; trackBy:i; ">
                  <tr ngModelGroup="productGroup-{{i}}">
                    <td class="p-0 position-relative text-center">{{i+1}}</td>
                    <td class="p-0 position-relative"><input type="text" class="form-control" name="productName-{{i}}" sf-validate="productName" [(ngModel)]="product.productName" value=""></td>
                    <td class="p-0 position-relative"><input type="text"  class="text-right form-control" name="productPrice-{{i}}" sf-validate="productPrice" [(ngModel)]="product.productPrice" value=""></td>
                    <td class="p-0 position-relative"><input type="text" class="form-control text-right" name="productQuantity-{{i}}" sf-validate="productQuantity" [(ngModel)]="product.productQuantity" value=""></td>
                    <td class="p-0 position-relative"><input type="text" class="text-right form-control" name="total-{{i}}" sf-validate="total" [(ngModel)]="product.total" value=""></td>
                    <td class="text-center p-0">
                      <button style="padding:1px 5px;" type="button" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                      <button style="padding:1px 5px;" *ngIf="isLast" type="button" class="btn btn-success ml-1 btn-sm" group="productGroup-{{i}}" (sf-click)="addNewProduct($event)"><i class="fa fa-plus"></i></button>
                    </td>
                  </tr>
              </ng-container>
          </tbody>
        </table>
        
        <button type="button" class="btn btn-primary mr-1" not="productGroup" (sf-click)="saveCustomer($event)">Save</button>
        <button type="button" class="btn btn-warning" (sf-click)="resetCustomer($event)">Reset</button>
      </div>

    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">

  </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Description</h5>

        </div>
      </div>
    </div>
  </div>
