<div class="row">
  <div class="col-md-6">
      <h5>Multiple select</h5>
      <hr/>
    <form class="mb-4">
      <fieldset>
        <!-- <legend>SignUp</legend> -->
        <div class="dropdown" [class.show]='showDropdown'>
          <button (click)='showDropdown = !showDropdown' class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Select Your Favorite Cars
          </button>
          <div class="dropdown-menu" [class.show]='showDropdown' aria-labelledby="dropdownMenuButton">
            <div *ngFor='let car of cars' class="custom-control custom-checkbox mb-1 ml-2 pr-3">
              <input  
              ngModel 
              name="carcheckbox" 
              ngModel 
              #carcheckbox="ngModel" 
              (change)="onChangeCar($event.target.value)" 
              type="checkbox" 
              class="custom-control-input" 
              id="{{ car.id }}" 
              value="{{ car.id }}" 
              required>
              <label class="custom-control-label" for="{{ car.id }}">{{ car.brand }}</label>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Output - </h5>
          <hr>
          <p>Your Selected car is:</p>
          <div class="multiple-select-result">
              <span *ngFor="let car of cars" class="select-item">
                <strong *ngIf="car.selected" >{{car.brand}} ,</strong>
              </span>
          </div>
        </div>
      </div>
  </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>Description</h5>
          <hr>
          <p>Multiple select of angular.</p>
          <p><strong>onChangeCar()</strong> - on change event</p>
        </div>
      </div>
    </div>
  </div>