<h1 class="display-3">List of Angular Example</h1>
<hr>
<div class="row">
    <div class="col">
        <strong>Basic</strong>
        <ol>
            <li>
                <a href="javascript:void(0);" routerLink="/prerequisite" routerLinkActive="active">
                    Prerequisite
                </a>
            </li>
            <li>
                User Inputs
                <ol>
                    <li>Text</li>
                    <li>Email</li>
                    <li>Number</li>
                </ol>
            </li>
            <li>
                Dropdown
                <ol>
                    <li><a href="javascript:void(0);" routerLink="/dropdown/simple-select" routerLinkActive="active">
                            Simple
                        </a></li>
                    <li><a href="javascript:void(0);" routerLink="/dropdown/multiple-select" routerLinkActive="active">
                            Multiple
                        </a></li>
                    <li>Editable</li>
                    <li>Multiselect</li>
                </ol>
            </li>
            <li><a href="javascript:void(0);" routerLink="/autocomplete/simple-autocomplete" routerLinkActive="active">Autocomplete</a></li>
            <li>DatePicker</li>
            <li>TimePicker</li>
            <li>
                Input Restrict
                <ol>
                    <li>Integer</li>
                    <li>Decimal</li>
                </ol>
            </li>
            <li>
                FormValidation
                <ol>
                    <li>
                        <a href="javascript:void(0);" routerLink="/form/basic-form" routerLinkActive="active">
                            Basic Form
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" routerLink="/form/template-form" routerLinkActive="active">
                            Template Form
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" routerLink="/form/reactive-form" routerLinkActive="active">
                            Reactive Form
                        </a>
                    </li>
                    <li>Custom Control
                        <ol>
                            <li>
                                <a href="javascript:void(0);" routerLink="/form/simple-form" routerLinkActive="active">
                                    Simple Form
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" routerLink="/form/master-child-form" routerLinkActive="active">
                                    Master Child Form
                                </a>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Form Dirty Check</li>
            <li>TagInput</li>
            <li>DragDrop</li>
            <li>TreeView</li>
            <li>DataGrid</li>
            <li>Popover</li>
            <li><a href="javascript:void(0);" routerLink="/hide-show-slider" routerLinkActive="active">Hide/show Slider</a></li>
            <li><a href="javascript:void(0);" routerLink="/accordion" routerLinkActive="active">Accordion</a></li>
            <li><a href="javascript:void(0);" routerLink="/on-off-checkbox" routerLinkActive="active">On/Off checkbox</a></li>
            <li>Chosen</li>
            <li>Busy Indicator</li>
            <li><a href="javascript:void(0);" routerLink="/file-upload" routerLinkActive="active">FileUpload</a></li>
            <li>Chart</li>
            <li>ScrollBar</li>
            <li>Dynamic Control</li>
            <li><a href="javascript:void(0);" routerLink="/modal/simple-modal" routerLinkActive="active">Modal Window</a></li>
            <li>Multi Window</li>
            <li>Clock</li>
        </ol>
    </div>
    <div class="col">
        <strong>Medium</strong>
        <ol>
            <li>TreeView</li>
            <li>DataGrid</li>
            <li>Popover</li>
            <li>Accordion</li>
            <li><a href="javascript:void(0);" routerLink="/switch-button" routerLinkActive="active">On/Off Switch</a></li>
            <li>Chosen</li>
            <li>Busy Indicator</li>
            <li>FileUpload</li>
            <li>Chart</li>
            <li>ScrollBar</li>
            <li>Dynamic Control</li>
            <li>Modal Window</li>
            <li>Multi Window</li>
            <li>Clock</li>
        </ol>
    </div>
    <div class="col">
        <strong>Advance</strong>
        <ol>
            <li><a href="javascript:void(0);" routerLink="/weather" routerLinkActive="active">Weather</a></li>
            <li>BarcodeGenerator</li>
            <li>DayPilot Planner</li>
            <li>D3.js</li>
            <li>
                Some Common Directives
                <ol>
                    <li><a href="javascript:void(0);" routerLink="/ddl-selected-text" routerLinkActive="active">Dropdown
                            Selected
                            Text</a></li>
                    <li>Enter key event of control</li>
                    <li><a href="javascript:void(0);" routerLink="/select-all-text" routerLinkActive="active">Set Full
                        Text of Textbox</a></li>
                    <li>Tab index set for all control</li>
                    <li>Anchor Disabled</li>
                    <li>Dropdown option disabled</li>
                </ol>
            </li>
            <li>
                Some Common Pipes
                <ol>
                    <li>Range pipes</li>
                    <li>Text of True/False Value</li>
                    <li>Duplicate text find</li>
                </ol>
            </li>
            <li>Global Error Handler</li>
            <li>Make a change set of object</li>
            <li>Source Maps</li>
        </ol>
    </div>
</div>